.Card {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  margin: 1rem;
}

.Card > div:first-child {
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50px;
}

.Card > div:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.cardTitle {
  color: #787878;
}

.cardSub {
  color: #222;
  font-weight: bold;
}
