.Asset {
  background-color: #fefefe !important;
  height: 100%;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
  color: #222;
}

.menu-bar {
  display: flex;
  justify-content: space-evenly;

  border-bottom: 1px solid #efefef;
  color: #c9c9c9;
  font-weight: bold;
  margin-top: 1rem;
}

.menu-bar.asset > div {
  width: 30%;
  height: 36px;
}

.menu-bar > div.active {
  border-bottom: 1px solid #222;
  color: #222;
}

.asset {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

  align-items: center;
}

.asset > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #222;
}

.asset > div:first-child > h3 {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.asset > div:first-child > span {
  font-size: 24px;
  font-weight: bold;
}

.small-text {
  font-size: 14px !important;
}

.sub-text {
  font-size: 12px !important;
  font-weight: normal;
}

.flex-column {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
